In [2]:
import pandas as pd
import os
os.chdir("/home/abhisek/Studies/Python program/Data Kaggle/Practice/Data")

In [3]:
df=pd.read_csv("tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
data_obs=pd.crosstab(df["sex"],df["smoker"])
data_obs

smoker  No  Yes
sex
Female  54   33
Male    97   60

In [29]:
from scipy.stats import chi2_contingency
stat,p_value,dof,expected=chi2_contingency(data_obs)

In [36]:
print("The p_value is ", p_value)
print ("Degree of freedom is ",dof)

The p_value is  0.925417020494423
Degree of freedom is  1

In [32]:
print ("The Expected value is ",expected)

The Expected value is  [[53.84016393 33.15983607]
 [97.15983607 59.84016393]]

In [35]:
data_obs

smoker  No  Yes
sex
Female  54   33
Male    97   60

In [37]:
alpha=0.05

In [38]:
if p_value<alpha:
    print("Reject Null hypothesis")
else:
    print("Accept Null hyposthis")

Accept Null hyposthis