In [1]:
import pandas as pd
import os 
import numpy as np
import seaborn as sns
os.chdir("/home/abhisek/Studies/Python program/Data Kaggle/Practice/Data")

In [2]:
df=pd.read_csv("Admission.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
X=df.iloc[:,[1,2,3,4,5,6,7]]
y=df.iloc[:,[8]]
X.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [4]:
y.head()

   Chance of Admit
0              0.92
1              0.76
2              0.72
3              0.80
4              0.65

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20,random_state=100)
print("X_train_Shape",X_train.shape)
print("X_test_Shape",X_test.shape)

X_train_Shape (320, 7)
X_test_Shape (80, 7)

In [6]:
from sklearn.linear_model import LinearRegression
lin_model=LinearRegression(normalize=False)
lin_model.fit(X_train,y_train)

LinearRegression()

In [7]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [10]:
#for train
y_linpredtrain=lin_model.predict(X_train)
print ("mean_sq error train", np.sqrt(mean_squared_error(y_train,y_linpredtrain)))
print ("r2train",r2_score(y_train,y_linpredtrain))
((y_train-y_linpredtrain)**2).sum()

mean_sq error train 0.0637008960476171
r2train 0.807273400625269

Chance of Admit     1.298497
dtype: float64

In [11]:
# for test
y_linpredtest=lin_model.predict(X_test)
print ("mean_sq error test", np.sqrt(mean_squared_error(y_test,y_linpredtest)))
print ("r2 test",r2_score(y_test,y_linpredtest))

mean_sq error test 0.06160088923303381
r2 test 0.7792013613144773